* {
  background-image: none;
}
window {
  font-family: monospace;
  font-size: 14pt;
  /* color: #d8dee9; text */
  background-color: rgba(46, 52, 64, 0.9);
}

button {
  color: #2e3440;
  margin: 5px;
  transition:
    box-shadow 0.2s ease-in-out,
    background-color 0.2s ease-in-out;
  background-color: #3b4252;
  border-style: solid;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25%;
}

button:focus,
button:active,
button:hover {
  color: #e5e9f0;
  outline-style: none;
}
button:hover {
  background-color: #2e3440;
  border-color: #eceff4;
}
button:focus {
  background-color: #434c5e;
  border-color: #eceff4;
}

#lock {
  background-image: image(url("./lock.svg"));
}
#lock:hover,
#lock:focus {
  background-image: image(url("./lock_focus.svg"));
}

#logout {
  background-image: image(url("./logout.svg"));
}
#logout:hover,
#logout:focus {
  background-image: image(url("./logout_focus.svg"));
}

#suspend {
  background-image: image(url("./sleep.svg"));
}
#suspend:hover,
#suspend:focus {
  background-image: image(url("./sleep_focus.svg"));
}

#shutdown {
  background-image: image(url("./power.svg"));
}
#shutdown:hover,
#shutdown:focus {
  background-image: image(url("./power_focus.svg"));
}

#reboot {
  background-image: image(url("./restart.svg"));
}
#reboot:hover,
#reboot:focus {
  background-image: image(url("./restart_focus.svg"));
}
